.subscribe {
   display: inline-flex;
   width: auto;
   max-width: 100%;
}

.subscribe input,
.forexample1 {
   display: block;
   padding: 4px 10px;
   border: 0;
   font: inherit;
   box-sizing: border-box;
   border-radius: 6px 6px 6px 6px;
   font-size: 25px;
}

.subscribe input {
   border: 1px solid #ccc;
   border-right: 0;
   outline:none;
}

.seredina {
   position:absolute;
   left:50%;
   top:50%;
   transform: translate(-50%,-50%);
}
.perety {
   display: block;
   padding: 4px 10px;
   border: 0;
   box-sizing: border-box;
   font-size: 20px;
   background: #74b3eb;
   color: #fff;
   text-transform: uppercase;
}

.forexample1 {
   border: 1px solid #ccc;
   background: #94c2e9;
   color: #fff;
   text-transform: uppercase;
}
 
.button {
   background:none;
   border:none; 
   font: inherit;
   border-bottom:2px solid rgb(255, 255, 255); 
   cursor: pointer;
   font-size: 25px;
   color:  rgb(255, 255, 255);
   padding-left: 6px;
  }
.aside {
   background: #94c1e900;
   top: 0;
   padding: 0 3px;
   width: 200px;
   text-align: right;
   float: right;
   
}
.aside1 {
   background: #f0f0f000;
   padding: 0 3px;
   top: 0;
   width: 200px;
}
.bolshe,
.square,
.bolshe2 {
   max-width: 500px;
   display:inline-block;
   background: #4772ff;
   border: none;
   padding: 4px;
}
.square {
   font-size: 20px;
}
.bolshe {
   font-size: 30px;
}
.bolshe2 {
   font-size: 25px;
}
.otzivi {
   position:absolute;
   left:50%;
   top:90%;
   transform: translate(-50%,-50%);
   font-family: calibri;
}
body {
   margin: 0;
}
.ter
   {
   position:absolute;
   left:50%;
   top:50%;
   transform: translate(-50%,-50%);
   font-family: calibri;
   font-size: .875rem;
}

.rating-area {
   overflow: hidden;
   
   margin: 0 auto;
   flex-direction: row-reverse;
   display: flex;
   justify-content: flex-end;
   }
.rating-area:not(:checked) > input {
   display: none;
   }
.rating-area:not(:checked) > label {
   float: right;
   width: 42px;
   padding: 0;
   cursor: pointer;
   font-size: 32px;
   line-height: 32px;
   color: lightgrey;
   text-shadow: 1px 1px #bbb;
   }
.rating-area:not(:checked) > label:before {
   content: '★';
   }
.rating-area > input:checked ~ label {
   color: gold;
   text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
   color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
   color: gold;
   text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
   position: relative;
}

.otziv
{
   position:absolute;
   left:50%;
   top:90%;
   transform: translate(-50%,-50%);
   font-family: calibri;
   font-size: .875rem;
}